@model List<About>
@{
    ViewData["Title"] = "Create";

    foreach (var item in Model)
    {

    }
}

<div class="container-fluid">
    <h1>Create</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.FirstOrDefault().Title">Title</label>
                <input asp-for="@Model.FirstOrDefault().Title" class="form-control" placeholder="Title">
                <span class="text-danger" asp-validation-for="@Model.FirstOrDefault().Title"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.FirstOrDefault().AboutUs.Description1">Description</label>
                <input asp-for="@Model.FirstOrDefault().AboutUs.Description1" class="form-control" placeholder="Description">
                <span class="text-danger" asp-validation-for="@Model.FirstOrDefault().AboutUs.Description1"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.FirstOrDefault().AboutUs.Title">Title</label>
                <input asp-for="@Model.FirstOrDefault().AboutUs.Title" class="form-control" placeholder="Title">
                <span class="text-danger" asp-validation-for="@Model.FirstOrDefault().AboutUs.Title"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.FirstOrDefault().AboutUs.Description2">Description</label>
                <input asp-for="@Model.FirstOrDefault().AboutUs.Description2" class="form-control" placeholder="Description">
                <span class="text-danger" asp-validation-for="@Model.FirstOrDefault().AboutUs.Description2"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="@Model.FirstOrDefault().Order">Order</label>
                <input asp-for="@Model.FirstOrDefault().Order" class="form-control" placeholder="Order">
                <span class="text-danger" asp-validation-for="@Model.FirstOrDefault().Order"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.FirstOrDefault().Icon">Icon</label>
                <select class="form-control" asp-for="@Model.FirstOrDefault().Icon" asp-items="@(new SelectList(ViewBag.Icons, "Icon", "Icon"))">
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.FirstOrDefault().AboutUs.MainImageFile">ImageFile</label>
                <input asp-for="@Model.FirstOrDefault().AboutUs.MainImageFile" class="form-control" placeholder="ImageFile">
                <span class="text-danger" asp-validation-for="@Model.FirstOrDefault().AboutUs.MainImageFile"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.FirstOrDefault().AboutUs.SecondImageFile">ImageFile</label>
                <input asp-for="@Model.FirstOrDefault().AboutUs.SecondImageFile" class="form-control" placeholder="ImageFile">
                <span class="text-danger" asp-validation-for="@Model.FirstOrDefault().AboutUs.SecondImageFile"></span>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>

    </form>
</div>

